.background2 {
    height: 600px;
   
   /* border: 1px solid black;
    */background-repeat:no-repeat;
    background-size:cover ;
    background-color:#b3d7ffad;
  }
  
  .background2 h3{
    margin-left:180px;
  }

  .transbox {
    margin: 50px;
    background-color: whitesmoke;
    /*border: 1px solid black;
    */opacity: 0.6;
    filter: alpha(opacity=60); 
    font-family:'Times New Roman', Times, serif;
  }
   
  .transbox p {
    margin: 2%;
    font-weight: bold;
    font-size:35px;
    color: #000000;
  }
